<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Articledesubstitution'), ['action' => 'edit', $articledesubstitution->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Articledesubstitution'), ['action' => 'delete', $articledesubstitution->id], ['confirm' => __('Are you sure you want to delete # {0}?', $articledesubstitution->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Articledesubstitutions'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Articledesubstitution'), ['action' => 'add']) ?> </li>
        <li><?= $this->Html->link(__('List Articles'), ['controller' => 'Articles', 'action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Article'), ['controller' => 'Articles', 'action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="articledesubstitutions view large-9 medium-8 columns content">
    <h3><?= h($articledesubstitution->id) ?></h3>
    <table class="vertical-table">
        <tr>
            <th><?= __('ParentProduc') ?></th>
            <td><?= h($articledesubstitution->parentProduc) ?></td>
        </tr>
        <tr>
            <th><?= __('Article') ?></th>
            <td><?= $articledesubstitution->has('article') ? $this->Html->link($articledesubstitution->article->id, ['controller' => 'Articles', 'action' => 'view', $articledesubstitution->article->id]) : '' ?></td>
        </tr>
        <tr>
            <th><?= __('Id') ?></th>
            <td><?= $this->Number->format($articledesubstitution->id) ?></td>
        </tr>
        <tr>
            <th><?= __('Created') ?></th>
            <td><?= h($articledesubstitution->created) ?></td>
        </tr>
        <tr>
            <th><?= __('Modified') ?></th>
            <td><?= h($articledesubstitution->modified) ?></td>
        </tr>
    </table>
</div>
